// 左侧菜单宽度
$layout-sider-width: 260px;
// 左侧菜单折叠后宽度
$layout-sider-min-width: 63px;
// 顶部布局高度
$layout-header-height: 50px;

// 单位端菜单栏高度
$layout-menu-height: 50px;




// 主题色
$primary-color: #337ecc;

// 左侧菜单背景色
$layout-sider-background: #ffffff;

// 背景底色
$background-color: #E6E8EB;