.loginContainer {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .loginTop {
        width: 100%;
        height: 10vh;
        background-color: rgb(242, 242, 243);

        .logo {
            display: flex;
            align-items: center;

            img {
                width: 7vh;
                height: 7vh;
                display: inline-block;
                margin-right: 1rem;
            }
        }

        span {
            font-size: 1.4rem;
            color: #0098e6;
            font-weight: 700;
        }
    }

    .loginCenter {
        width: 100%;
        height: 75vh;
        background-color: blue;
        background-image: url('@/assets/login/bag.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        .loginArea {
            margin-top: 10vh;
            margin-left: auto;
            margin-right: auto;
            width: 800px;
            display: flex;

            .formItem {
                width: 400px;
                height: 50vh;
                display: inline-block;
                margin: auto;
            }

            .formLeft {
                background-color: lightblue;

                .formLeftContent {
                    padding: 2rem;
                    height: 60%;
                    margin-top: 10%;
                    width: 400px;

                    .loginWelcome {
                        text-align: left;
                        color: white;
                        font-size: 2rem;
                        font-weight: 800;
                    }

                    .loginGame {
                        color: #0098e6;
                        margin-top: 1rem;
                        font-weight: 600;
                    }
                }
            }

            .formRight {
                background-color: white;

                .loginForm {
                    padding: 4rem;
                    margin-top: 23%;

                    button {
                        width: 100%
                    }
                }
            }
        }
    }

    .loginFotter {
        width: 100%;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;

        p {
            font-size: 0.4rem;
            text-align: center;
            line-height: 1.2rem;
            color: #666;
        }

        a {
            color: darkblue;
        }

        .qq_info {
            padding-top: 0.3rem;

            a {
                display: inline-block;
                margin-right: 0.5rem;

                image {
                    display: inline-block;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .loginArea {
        width: 100vw !important;
    }

    .formLeft {
        display: none !important;
    }

    .chrome_down {
        display: none;
    }


}